#rubricResults td:not(:first-child), #rubricHeader th:not(:first-child), #modelFitResults td:not(:first-child), #modelFitResults th:not(:first-child), #StatData td:not(:first-child), #StatDataAML td:not(:first-child), #StatDataDAML td:not(:first-child){
    text-align: right;
}
div.download, div.cancel {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
#progressFooter {
    display: none;
}
#clearGroupDiv {
    display: none;
}
#myDropZoneWrapper {
    display: none;
}