#rubricResults td:not(:first-child), #rubricHeader th:not(:first-child), #modelFitResults td:not(:first-child), #modelFitResults th:not(:first-child), #StatData td:not(:first-child), #StatDataAML td:not(:first-child), #StatDataDAML td:not(:first-child){
    text-align: right;
}
div.download, div.cancel {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
#progressFooter {
    display: none;
}
#clearGroupDiv {
    display: none;
}
#myDropZoneWrapper {
    display: none;
}

@media print {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-fluid-lg, .container-fluid-md, .container-fluid-sm, .container-fluid-xl, .container-fluid-xxl {
        max-width: none !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    div.accordion, div.accordion-item, div.accordion-collapse{
        border: none !important;
    }
    nav.navbar, h2.accordion-header, button.accordion-button{
        display: none !important;
    }
}